body {
  background-color: white;
}
.title-main {
  color: yellow;
  text-align: center;
  background-color: black;
}
#title-main{
	color: yellow;
}
.card {
  margin: auto;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  width: 100%;
  height: 20%;
  align-content: center;
}
.footer {
  color: darkred;
}

.desc {
  text-align: center;
}
#closeBtn {
  padding-right: 3.5rem;
  display: inline;
  text-align: right;
}
.thread {
  background-color: black;
  color: yellow;
}
.btn-primary {
  background-color: black;
  color: yellow;
  border-color: black;
}
.in-brief{
  margin-left: 0;
}
.table table-bordered td {
	    text-align: center; 
    vertical-align: middle;
}
.page-footer font-small special-color-dark pt-4{
	background-color: whitesmoke;
	color:  #4885ed;
}
.footer-copyright.text-center.py-3{
	color:  #4885ed;
	background-color: whitesmoke;
}
